header, main, footer {
    padding-left: 300px;
    
}

@media only screen and (max-width : 600px) {
    header, main, footer {
        padding-left: 0;
    }
}
.background img{
    max-width: 100%;
}
